* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: rgba(46, 46, 46, 0.9529411765);
  overflow-x: hidden;

  font-family: cursive;
}

#section-main {
  margin-top: 50v;
  height: 80vh;
}

#section-grafos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 35px 0;
  height: 95vh;

  color: #fff;

  h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 1.6rem;
    letter-spacing: 3px;
  }
}

hr {
  background-color: #000000;
  border: none;
  height: 8px;
}

@-webkit-keyframes colorProject {
  0% {
    color: #0101a0;
  }
  50% {
    color: #0051ff;
  }
  100% {
    color: white;
  }
}

@keyframes colorProject {
  0% {
    color: #0101a0;
  }
  50% {
    color: #0051ff;
  }
  100% {
    color: white;
  }
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  img {
    min-width: 100%;
    height: 110%;
    position: absolute;
    z-index: -1;
    filter: grayscale(200%);
  }

  #container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 350px;
    color: white;
    opacity: 0.9;
    box-shadow: 0px 0px 50px 50px #000000;
    background-color: #000000;

    h2 {
      font-size: 1.6rem;
      transform: translateY(-25px);
      color: #4870db;
    }

    ul {
      display: flex;
      flex-direction: column;
      transform: translate(0, -30px);
      text-align: center;
      a {
        list-style: none;
        text-decoration: underline;
        color: white;


        li {
          font-size: 1.4rem;
          margin: 5px 0;
          color: white;
          list-style: none;
        }

        li:hover {
          cursor: pointer;
          color: #0051ff;
          transition-duration: 0.5s;
        }
      }
    }
  }
}

header {
  width: 100vw;
  height: 8vh;
  align-items: center;
  justify-content: space-between;
  display: flex;
  position: absolute;
  z-index: 10;
  background-color: rgba(28, 28, 28, 0.8431372549);
  box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.8901960784);

  .container-logosMyP {
    margin: 0px 50px 0px 0px;

    a {
      cursor: pointer;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  p {
    font-size: 1rem;
    font-weight: bolder;
    margin-left: 5vw;
    animation: 3s infinite alternate;
    animation-name: colorProject;
  }
}
#mynetwork {
  position: relative;
  width: 650px;
  height: 550px;
  border: 3px solid lightgray;
  background-color: #2e2e2e;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 5px;
}
#network-popUp {
  display: none;

  text-align: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  position: absolute;
  width: 23vw;
  height: 28vh;
  border-radius: 10px;
  color: white;
  z-index: 10;
  background-color: rgba(22, 22, 22, 0.8784313725);

  .legend_table {
    font-size: 11px;
    border-width: 1px;
    border-color: #d3d3d3;
    border-style: solid;
  }

  #operation {
    font-size: 28px;
  }

  td {
    border: none;
    font-size: 1.3rem;
    padding-top: 12px;

    input {
      font-size: 1.2rem;
      text-align: center;
      width: 95%;
    }
  }

  #saveButton {
    width: 35%;
    height: 30px;
    margin: 15px;
    background-color: rgba(10, 240, 125, 0.6431372549);
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
  }
  #cancelButton {
    width: 30%;
    height: 30px;
    background-color: rgba(240, 10, 10, 0.6431372549);
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
  }
}

// section bases

#section-bases {
  display: flex;
  justify-content: space-evenly;

  background-image: linear-gradient(#202020, rgb(99, 99, 99));
  color: #fff;

  padding: 40px 0;

  input {
    font-size: 1.4rem;
    text-indent: 10px;

    min-height: 40px;
    width: 100%;
    text-transform: uppercase;
    outline: none;

    background-color: #505050;
    color: #fff;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-top: 1px solid rgb(31, 31, 31);
    box-shadow: 6px 5px 5px black;
  }
  input::placeholder {
    font-size: 1rem;
  }

  input::-webkit-scrollbar {
    width: 13px;
  }

  input::-webkit-scrollbar-track {
    background: rgb(19, 19, 19);
  }

  input::-webkit-scrollbar-thumb {
    background-color: rgb(41, 41, 41);
    border-radius: 20px;
    border: 3px solid rgb(117, 117, 117);
  }
  h2 {
    margin-top: 30px;
    position: absolute;
    text-align: center;

    font-size: 1.6rem;
    letter-spacing: 3px;
  }

  #previous-operand-base {
    margin: 0 15px;
    font-size: 1.1rem;
    color: #ff943cc2;
  }

  #result {
    background-color: #00bcd4;
    color: black;
  }

  .grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 23vh 0 10vh 0;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: minmax(128px, auto) repeat(4, 88px);
    box-shadow: 3px 7px 14px 6px #000000;

    input {
      box-shadow: none;
    }

    button {
      font-size: 2rem;
      cursor: pointer;
      border: none;
      outline: none;

      background-color: #55a8ff;
      color: #fff;
    }

    button:hover {
      opacity: 0.7;
    }

    .output {
      grid-column: 1 / -1;
      display: flex;
      flex-direction: column;
      padding: 10px;
      padding-right: 25px;
      word-wrap: break-word;
      word-break: break-all;
      text-transform: uppercase;
      background: #202020;
      max-height: 130px;

      .previous-operand {
        font-size: 1.2rem;
        max-height: 45px;
        display: flex;
        overflow: hidden;

        color: #fff;
      }
      .current-operand {
        text-align: right;
        max-width: 90%;
        margin-top: 8px;
        font-size: 1.6rem;

        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: auto;
      }
    }
  }
  button {
    img {
      width: 35px;
      height: 35px;
    }
  }
  .column-two {
    grid-row: span 2;
  }

  .span-two {
    grid-column: span 2;
  }

  .span-three {
    grid-column: span 3;
  }

  .span-for {
    grid-column: span 4;
  }

  .previous-operand {
    img {
      width: 23px;
      height: 23px;
    }
    .output-lateral {
      position: absolute;
      transform: translateX(318px);
    }

    div {
      button {
        display: flex;
        border: 1px solid;
        margin-top: 17px;
        border-radius: 50%;

        background-color: #7aa6ff;
      }
    }
  }

  .popup {
    text-align: center;
    display: none;
    font-size: 1rem;
  }

  #copiar:hover {
    cursor: pointer;
    transition: 0.5s ease;
    transform: scale(1.4);
  }
  #sobre:hover {
    cursor: pointer;
    transition: 0.5s ease;
    transform: scale(1.4);
  }
  #copiar:focus {
    background-color: #00bcd4;
  }
  #sobre:focus {
    background-color: #00bcd4;
  }

  .converter {
    text-align: center;
    font-size: 1.5rem;

    width: 360px;
    padding: 10px;
    margin-top: 23vh;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #1c1c1c;
    box-shadow: 3px 7px 14px 6px #000000;

    div {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      margin: 15px;
    }

    .resultadoTela {
      height: 110px;
      align-items: center;
      display: flex;
      flex-direction: column;

      .resultado {
        color: #fff;
        border: none;
        text-align: center;
        box-shadow: none;

        max-width: 100%;
        height: 100%;
        word-wrap: break-word;
        overflow-x: hidden;
        overflow-y: auto;
      }
      button {
        width: 50px;
        height: 25px;
        display: flex;
        border: 1px solid;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background-color: #7aa6ff;

        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  .converter::before {
    width: 10px;
    height: 10px;
  }

  #converter,
  #resetar {
    border: 0;
    width: 90px;
    height: 25px;
    cursor: pointer;
    border-radius: 4px;
  }

  #converter:hover,
  #resetar:hover {
    transition-duration: 0.3s;
    opacity: 0.7;
  }

  #converter {
    background-color: #00bcd4;
  }

  #resetar {
    background-color: #fd8171;
  }

  label {
    font-size: 1.4rem;
  }

  .converter {
    hr {
      width: 100%;
      background-color: #fff;
      border: none;
      border-radius: 150%;
      height: 5px;
    }
  }

  .rowInput {
    display: flex;
    align-items: center;
    max-width: 70%;
    button {
      font-size: 2rem;

      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      width: 30px;
      height: 30px;

      border: black solid 3px;
      background-color: #7aa6ff;
    }
    button:hover {
      background-color: #ffffff;

      transition-duration: 0.5s;
      transform: translateY(-5px);
      cursor: pointer;
    }
    input {
      text-indent: 0;
      max-width: 120px;
      padding: 0 10px;
      text-align: center;
    }
  }
}

footer{
  margin-top: 50px;
  height: 10vh;
  width: 100%;
  background-color: #1C1C1C;

  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  color: #ffff;

  border-top: 2px solid black;
  a{
    text-decoration: none;
    list-style: underline;
    color: #ffff;
  }

}
//responsividade

@media screen and (max-width: 840px) {
  header {
    p {
      font-size: 0.8rem;
    }
  }
  #section-grafos {
    #network-popUp {
      width: 40vw;
    }
  }

  #section-bases {
    flex-direction: column;
    align-items: center;

    h2 {
      position: inherit;
    }

    .grid-container {
      grid-template-columns: repeat(4, 120px);
      grid-template-rows: minmax(140px, auto) repeat(4, 110px);

      .output {
        .previous-operand {
          font-size: 2rem;

          .output-lateral {
            transform: translateX(420px);

            button {
              margin-top: 15px;

              img {
                width: 30px;
                height: 30px;
              }
            }
          }
        }
        .current-operand {
          font-size: 3rem;
        }
      }

      input {
        font-size: 2rem;
      }
    }

    .converter {
      height: 550px;
      width: 480px;
      font-size: 1.8rem;

      input {
        font-size: 2rem;
      }

      .resultadoTela {
        height: 155px;
      }
    }

    #previous-operand-base {
      font-size: 1.5rem;
    }

    input {
      min-height: 50px;
    }

    label {
      font-size: 1.6rem;
    }
  }
}
@media screen and (max-width: 685px) {
  main {
    #container {
      width: 75vw;
      ul {
        transform: translate(0px, -10px);
        a {
          li {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
  #section-grafos {
    #mynetwork {
      width: 85vw;
    }
  }
}
@media screen and (max-width: 600px) {
  main {
    #container {
      width: 75vw;
      h2 {
        font-size: 1.3rem;
      }
      ul {
        transform: translate(0px, -10px);
        a {
          li {
            font-size: 1.1rem;
          }
        }
      }
    }
  }

  #section-grafos {
    #network-popUp {
      width: 50vw;
    }
  }
  #section-bases {
    .grid-container {
      grid-template-columns: repeat(4, 90px);
      grid-template-rows: minmax(128px, auto) repeat(4, 88px);
      box-shadow: 3px 7px 14px 6px #000000;

      .output {
        .previous-operand {
          font-size: 1.5rem;

          .output-lateral {
            transform: translateX(290px);

            button {
              margin-top: 10px;
              img {
                width: 25px;
                height: 25px;
              }
            }
          }
        }

        .current-operand {
          font-size: 2rem;
        }
      }

      input {
        font-size: 1.4rem;
      }
    }
    .converter {
      height: 480px;
      width: 360px;
      font-size: 1.5rem;
      padding: 15px;

      input {
        font-size: 1.5rem;
      }
      .resultadoTela {
        margin: 0;
        height: 113px;
        .resultado {
          height: 45%;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  #section-bases {
    .grid-container {
      grid-template-columns: repeat(4, 75px);
      grid-template-rows: minmax(100px, auto) repeat(4, 88px);
      box-shadow: 3px 7px 14px 6px #000000;

      .output {
        .previous-operand {
          font-size: 1.5rem;

          .output-lateral {
            transform: translateX(290px);

            button {
              display: none;
            }
          }
        }

        .current-operand {
          font-size: 2rem;
        }
      }

      input {
        font-size: 1.4rem;
      }
    }
    .converter {
      height: 480px;
      width: 360px;
      font-size: 1.5rem;
      padding: 15px;

      input {
        font-size: 1.5rem;
      }
      .resultadoTela {
        margin: 0;
        height: 115px;
        .resultado {
          height: 45%;
        }
      }
    }
  }

  #section-grafos {
    #mynetwork {
      width: 85vw;
    }
    p {
      display: none;
    }
  }

  footer{
    a{
      display: none;
    }
    span{
      font-size: .9rem;
    }
  }
}
